::-webkit-scrollbar {
    width: 0.50em;
    height: 0.35em;
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

::-wbkit-scrollbar-button {
    background: orangered;
}

::-webkit-scrollbar-thumb:hover {
    background: #535353;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: white !important;
    }
    .button1 {
        background-color: transparent;
        color: white;
        width: auto !important;
        z-index: 1;
    }
    .scrollDownAdjust {
        padding-bottom: 0% !important;
    }
}

body {
    font-family: 'News Cycle';
    background-color: #222;
    color: white;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
}

.scrollDownAdjust {
    padding-bottom: 6%;
}

a {
    color: inherit;
}

a:hover {
    color: orangered;
}

.navbar-transparent:not(.top-nav-collapse) {
    background-color: transparent !important;
}

.nav-link {
    color: lightgray;
}

.navbar-brand {
    font-family: 'Zen Tokyo Zoo';
}

div .font {
    font-family: 'Zen Tokyo Zoo';
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-expand-lg {
    padding-right: 5rem;
    padding-left: 5rem;
}

.navbar-nav>li {
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-nav>li a:hover {
    color: #ff4400 !important;
}

.button1 {
    background-color: transparent;
    color: white;
    width: 15%;
}

.button1:hover {
    background-color: #ff4400;
    color: white;
    transition: all 1s;
    box-shadow: 0 0 20px #ff4400, 0 0 40px #ff4400, 0 0 80px #ff4400;
}

.buttonCards {
    background-color: transparent;
    color: white;
    width: 65%;
}

.buttonCards:hover {
    background-color: #00485a;
    color: white;
    transition: all 1s;
    box-shadow: 0 0 20px #00485a, 0 0 40px #00485a, 0 0 80px #00485a;
}

.buttonCards1 {
    background-color: transparent;
    color: white;
    width: 65%;
}

.buttonCards1:hover {
    background-color: #5f0000;
    color: white;
    transition: all 1s;
    box-shadow: 0 0 20px #5f0000, 0 0 40px #5f0000, 0 0 80px #5f0000;
}

.buttonCards2 {
    background-color: transparent;
    color: white;
    width: 65%;
}

.buttonCards2:hover {
    background-color: #636363;
    color: white;
    transition: all 1s;
    box-shadow: 0 0 20px #636363, 0 0 40px #636363, 0 0 80px #636363;
}

.buttonCards3 {
    background-color: transparent;
    color: white;
    width: 65%;
}

.buttonCards3:hover {
    background-color: #1c2447;
    color: white;
    transition: all 1s;
    box-shadow: 0 0 20px #1c2447, 0 0 40px #1c2447, 0 0 80px #1c2447;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid orangered;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.musicSectionFont,
.storeSectionFont,
.contactSectionFont {
    font-family: 'Zen Tokyo Zoo';
}

.tableRowHover {
    background-color: white;
}

.tableRowHover:hover {
    background-color: lightgray;
    cursor: pointer;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid #FF4500;
    border-bottom: .125rem solid #FF4500;
    border-left: .125rem solid #FF4500;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: #FF4500;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor #FF4500;
    border-bottom: .125rem solid #FF4500;
    border-right: .125rem solid #FF4500;
    border-top: .125rem solid #FF4500;
}

.form-outline .form-control:focus~.form-label {
    color: #FF4500;
}

.concertBackground {
    background-image: url("../img/tempConcertImage1.jpg");
    /*    background-repeat: no-repeat;*/
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}

.button2 {
    background-color: orangered;
    color: white;
    border-radius: 25px;
    width: 35%;
}

.button2:hover {
    color: white;
    transition: all 1s;
    box-shadow: 0 0 20px #ff4400, 0 0 40px #ff4400, 0 0 80px #ff4400;
}

.footerLinkColor {
    color: black;
}

.footerLinkColor:hover {
    color: orangered;
    transition: all 0.3s;
}

.card1:hover {
    box-shadow: 0 0 20px #00313d, 0 0 40px #00313d, 0 0 80px #00313d;
}

.card2:hover {
    box-shadow: 0 0 20px #800000, 0 0 40px #800000, 0 0 80px #800000;
}

.card3:hover {
    box-shadow: 0 0 20px #b1b1b1, 0 0 40px #b1b1b1, 0 0 80px #b1b1b1;
}

.card4:hover {
    box-shadow: 0 0 20px #0a1b3b, 0 0 40px #0a1b3b, 0 0 80px #0a1b3b;
}

.buttonAllLinks {
    background-color: #222;
    color: color;
}